<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css-include.html' %}
</head>
<body id="page-top">
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800" style="margin-top:30px;">Import Data</h1>
                    <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Import Data</h6>
                        </div>
                        <div class="card-body">
                            {% if result['part']=='presensi' %}
                            <form action="/importpresensi", method="POST" enctype="multipart/form-data">
                            {% else %}
                            <form action="/importleave", method="POST" enctype="multipart/form-data">
                            {% endif %} 
                                <span class="btn btn-primary btn-icon-split btn-sm" 
                                    onclick="document.getElementById('importFile').click();">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="text" id="file-name">Import data (.xls)</span>
                                </span>
                                <input type="file" id="importFile" name="file" value="Import Data" style="display:none;">
                                <input type="submit" class="btn btn-success btn-sm" value="Preview">
                            </form>
                            <p class="text mt-2">
                                Import excel file
                            </p>
                            <script>
                                var input = document.getElementById( 'importFile' );
                                var infoArea = document.getElementById( 'file-name' );

                                input.addEventListener( 'change', showFileName );

                                function showFileName( event ) {
                                
                                // the change event gives us the input it occurred in 
                                var input = event.srcElement;
                                
                                // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                                var fileName = input.files[0].name;
                                
                                // use fileName however fits your app best, i.e. add it into a div
                                infoArea.textContent = fileName;
                                }
                            </script>
                        </div>
                    </div>
                    </div>
                    {% if result['filename'] != 'None' %}
                    {% if result['filename'] == 'error' : %}
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="text-danger"> Error: Failed reading the excel file </p>
                        </div>
                    </div>
                    {% else %}
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <h6 class="m-0 font-weight-bold text-primary float-left">Preview</h6>
                            <button class="btn btn-success btn-sm float-right">Import</button>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    {% for col in result['data_presensi'].columns %}
                                    <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                                {% for ind,val in result['data_presensi'].iterrows() : %}
                                <tr>
                                    <td>{{ val['Date'] }}</td>
                                    <td>{{ val['Name'] }}</td>
                                    <td>{{ val['Participant_id'] }}</td>
                                    <td>{{ val['Status'] }}</td>
                                    <td>{{ val['First Check In'] }}</td>
                                    <td>{{ val['Last Check Out'] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    {% include 'script-include.html' %}
</body>