<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css-include.html' %}
</head>
<style>
    .bg-primary{
        background-color: #137a7f !important;
    }
    .bg-warning{
        background-color: #D0C9C0 !important;
    }
    .bg-success{
        background-color: #5F7161 !important;
    }
    .text-primary{
        color:#137a7f !important;
    }
    
    .text-warning{
        color: #D0C9C0 !important;
    }
    .text-success{
        color: #5F7161 !important;
    }
    /* .bg-secondary{
        background-color: lightgrey !important;
        color:grey !important;
    } */
</style>
<body id="page-top">
    <div id="wrapper">
        {% include 'sidebar.html' %}

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800" style="margin-top:30px;">Dashboard</h1>

                    <div class="row">
                    <div class="dropdown mb-4">
                        <button class="btn dropdown-toggle text-light" type="button"
                            id="dropdownparticipant" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="background-color:#137a7f;">
                            {{ result['data_current_user'][1] }}
                        </button>
                        <div class="dropdown-menu animated--fade-in"
                            aria-labelledby="dropdownparticipant">
                            {% for ind,val in result['data_participant'].iterrows() %}
                            <a class="dropdown-item" href="/dashboard/{{ val['id'] }}/{{ result['year'] }}">{{ val['name'] }}</a>
                            <!-- <a class="dropdown-item" href="#">Raisul Amin Zulfikri</a> -->
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                            {% endfor %}
                        </div>
                    </div>

                    <div class="dropdown mb-4" style="margin-left:25px;">
                        <button class="btn text-light dropdown-toggle" type="button"
                            id="dropdownyears" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"  style="background-color:#86cecb;">
                            2022
                        </button>
                        <div class="dropdown-menu animated--fade-in"
                            aria-labelledby="dropdownyears">
                            {% for i in range(result['now_year']-10, result['now_year']) %}
                            <a class="dropdown-item" href="#">{{ i+1 }}</a>
                            {% endfor %}
                            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                        </div>
                    </div>
                    </div>

                <div class="row">
                    <div class="col-lg-8 mb-4">
                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Monthly Analysis</h6>
                            </div>
                            <div class="card-body">
                                {% for i in range(1,13) %}
                                    {% set data_monthly = result['data_yearly']['monthly'][i|string] %}
                                <h4 class="small font-weight-bold">{{ result['months'][i-1] }} <span
                                        class="float-right"></span></h4>
                                <div class="progress" style="margin-top:-5px; margin-bottom:8px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ data_monthly['present_pct'] }}%"
                                        aria-label="presentseg" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="background-color:#137a7f !important;">
                                        {{ data_monthly['total_present'] }} 
                                    </div>
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ data_monthly['absent_pct'] }}%"
                                        aria-label="absentseg" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        {{ data_monthly['total_absent'] }}
                                    </div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ data_monthly['leave_pct'] }}%"
                                        aria-label="absentseg" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                        {{ data_monthly['total_leave'] }}
                                    </div>
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ data_monthly['nodata_pct'] }}%"
                                        aria-label="leaveseg" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        {{ data_monthly['nodata'] }}
                                    </div>
                                    
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>

                    <!-- <div class="column"> -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Yearly Analysis</h6>
                                <!-- <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div> -->
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-primary"></i> Present
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-warning"></i> Absent
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-success"></i> Leave
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                            </div>
                            <div class="card-body">
                                The styling for this basic card example is created by using default Bootstrap
                                utility classes. By using utility classes, the style of the card component can be
                                easily modified with no need for any custom CSS!
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                            </div>
                            <div class="card-body">
                                The styling for this basic card example is created by using default Bootstrap
                                utility classes. By using utility classes, the style of the card component can be
                                easily modified with no need for any custom CSS!
                            </div>
                        </div>
                    </div> -->
                    <!-- </div> -->
                </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["Present", "Absent", "Leave"],
            datasets: [{
            data: [{{ result['data_yearly']['yearly']['total_present'] }}, {{ result['data_yearly']['yearly']['total_absent'] }}, {{ result['data_yearly']['yearly']['total_leave'] }} ],
            backgroundColor: ['#137a7f','#D0C9C0','#5F7161', '#36b9cc'],
            hoverBackgroundColor: ['#2e59d9', '#c29727', '#17a673', '#2c9faf'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
            },
            legend: {
            display: false
            },
            cutoutPercentage: 80,
        },
        });

    </script>
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
</body>