<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css-include.html' %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body id="page-top">
    <div id="wrapper">
        {% include 'sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800" style="margin-top:30px;">Monthly Attendance Table</h1>

                    <!-- <div class="dropdown mb-4">
                        <button class="btn btn-primary dropdown-toggle" type="button"
                            id="dropdownyears" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            2022
                        </button>
                        <div class="dropdown-menu animated--fade-in"
                            aria-labelledby="dropdownyears">
                            <a class="dropdown-item" href="#">2021</a>
                            <a class="dropdown-item" href="#">2019</a>
                        </div>
                    </div> -->
                    <form action="/tableinputdate" method="post">
                    <div class="row mb-4 ml-1">
                        <input id="datepicker" name="startdate" width="276" placeholder="Start" required/>
                            <script>
                                $('#datepicker').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });
                            </script>
                            &nbsp;&nbsp;
                        <input id="datepickerend" name="enddate" width="276" placeholder="End" required/>
                            <script>
                                $('#datepickerend').datepicker({
                                    uiLibrary: 'bootstrap4'
                                });
                            </script>
                        <input type="submit"  class="btn btn-sm ml-1 text-light" value="Go" style="background-color:#137a7f;">
                        
                    </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-2 col-md-6 mb-4">
                            <div class="card shadow h-75 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <table class="table table-bordered table-sm" style="text-align:center;">
                                                <tr>
                                                    <td class="text-light" style="background-color: #137a7f;">P</td>
                                                    <td>Present</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4">
                            <div class="card shadow h-75 py-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <table class="table table-bordered table-sm" style="text-align:center;">
                                                <tr>
                                                    <td class="text-light" style="background-color:#D0C9C0;">A</td>
                                                    <td>Absent</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4">
                            <div class="card border-left shadow h-75 py-1" style="border:left 10px #5F7161;">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <table class="table table-bordered table-sm" style="text-align:center;">
                                                <tr>
                                                    <td class="text-light" style="background-color:#5F7161">L</td>
                                                    <td>Leave</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4">
                            <div class="card border-left shadow h-75 py-1" style="border:left 10px #5F7161;">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <table class="table table-bordered table-sm" style="text-align:center;">
                                                <tr>
                                                    <td class="text-light" style="background-color:#86cecb">T</td>
                                                    <td>Tardy</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if result["row_imported"] != "None" %}
                    <div class="card  shadow bg-info  col-lg-3 mb-2" style="height:50px;"> 
                        <div class="card-body text-light" style="margin-top:-10px;"> {{ result["row_imported"] }} </div> 
                    </div>
                    {% endif %}
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <a href="/download-monthly-data" class="btn btn-sm float-right text-light" style="width:120px;background-color:#137a7f;">save as .xls</a>
                        </div>
                    <div class="card-body">
                    <table class="table table-bordered table-sm table-hover align-middle table-responsive" style="text-align:center;font-size:10px;">
                        <thead>
                            <tr>
                                {% for column in result['data_monthly'].columns %}
                                <th>{{ column }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody style="padding-right: 0px;">
                          {% for ind,val in result['data_monthly'].iterrows() %}
                            <tr>
                                {% for vals in val.values %}
                                {% if vals == 'P' %}
                                <td class="text-light" style="background-color:#137a7f">
                                    {{ vals }}
                                </td>
                                {% elif vals == 'C' %}
                                <td class="text-light" style="background-color:	#5F7161">
                                    L
                                </td>
                                {% elif vals == 'A' %}
                                <td class="text-light" style="background-color: #D0C9C0;">
                                    {{ vals }}
                                </td>
                                {% elif vals == 'L' %}
                                <td class="">
                                    &nbsp;
                                </td>
                                {% elif vals == 'T' %}
                                <td class="text-light" style="background-color: #86cecb">
                                    {{ vals }}
                                </td>
                                {% elif vals == 'H' %}
                                <td class="font-weight-bold" style="color: #137a7f">
                                    {{ vals }}
                                </td>
                                {% else %}
                                <td>
                                    {{ vals }}
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'script-include.html' %}
</body>