<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#137a7f;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Epsindo</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {% if result['page']=='index' %}
    <li class="nav-item active">
    {% else %}
    <li class="nav-item">
    {% endif %}
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        REPORT
    </div>


    <!-- Nav Item - Tables -->
    {% if result['page']=='monthly' %}
            <li class="nav-item active">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Monthly</span>
                </a>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select Month:</h6>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Monthly</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select Month:</h6>
            {% endif %}
                    {% set twelvemonth = ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
                    {% if result['page'] == 'monthly' %}
                    {% for month in twelvemonth %}
                        {% if month == result['month'] %}
                            <a class="collapse-item active" href="/monthly/{{ month }}">{{ month }}</a>
                        {% else %}
                            <a class="collapse-item" href="/monthly/{{ month }}">{{ month }}</a>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for month in twelvemonth %}
                            <a class="collapse-item" href="/monthly/{{ month }}">{{ month }}</a>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </li>
    <li class="nav-item">
        <a class="nav-link" href="/participants">
            <i class="fas fa-fw fa-user"></i>
            <span>Participants</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target="#collapseData"
            aria-expanded="true" aria-controls="collapseData">
            <i class="fas fa-fw fa-upload"></i>
            <span>Data</span>
        </a>
        {% set partlist = ['presensi', 'leave'] %}
        {% set stringlist = ['Attendance', 'Leave'] %}
        {% if result['page'] == 'importdata' %}
        <div id="collapseData" class="collapse show" aria-labelledby="headingData" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            {% for i in range(partlist|length) %}
                {% if partlist[i] == result['part'] %}
                    <a class="collapse-item active" href="/importdata/{{ partlist[i] }}/preview=None">{{ stringlist[i] }}</a>
                {% else %}
                    <a class="collapse-item" href="/importdata/{{ partlist[i] }}/preview=None">{{ stringlist[i] }}</a>
                {% endif %}
            {% endfor %}
            <a class="collapse-item" href="/addholiday">Holidays</a>
            </div>
        </div>
        {% else %}
        <div id="collapseData" class="collapse" aria-labelledby="headingData" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            {% for i in range(partlist|length) %}
                <a class="collapse-item" href="/importdata/{{ partlist[i] }}/preview=None">{{ stringlist[i] }}</a>
            {% endfor %}
            {% if result['page'] == 'holiday' %}
            <a class="collapse-item active" href="/addholiday">Holidays</a>
            {% else %}
            <a class="collapse-item">Holidays</a>
            {% endif %}
            </div>
        </div>
        {% endif %}
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <!-- <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->

</ul>
